/*----------------------
    Countdown
-----------------------*/
.countdown-row {
    display: flex;
}

.countdown-section {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 0 20px;
}

.countdown-section:last-of-type {
    display: none;
}

.countdown-amount {
    font-family: $font-heading;
    color: $color-heading;
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    display: block;
    padding-bottom: 14px;
    margin-bottom: 19px;

    &:after {
        content: '';
        position: absolute;
        top: 50px;
        left: 50%;
        width: 20px;
        height: 2px;
        transform: translateX(-50%);
        background-color: $color-heading;
    }
}

.countdown-period {
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

/* Mobile Phones and tablets */
@include xs-sm-screens {
    .countdown-section {
        padding: 0 5px;
    }

    .countdown-amount {
        font-size: 30px;
        padding-bottom: 5px;

        &:after {
            top: 40px;
        }
    }
}