/*---------------------
    Newsletter
---------------------*/
.newsletter {
    padding: 125px 0;

    .newsletter__title {
        font-size: 70px;
        color: $color-white;
    }

    .newsletter__desc {
        color: $color-white;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 36px;
    }
}

.newsletter__form {
    justify-content: center;

    .form-control {
        width: 370px;
        height: 50px;
        border: 2px solid $color-white;
        padding-left: 20px;
        color: $color-white;
        margin-right: 30px;

        &:focus {
            border-color: $color-theme;
        }
    }

    .form-control::-webkit-input-placeholder {
        color: $color-white;
    }

    .form-control:-moz-placeholder {
        color: $color-white;
    }

    .form-control::-moz-placeholder {
        color: $color-white;
    }

    .form-control:-ms-input-placeholder {
        color: $color-white;
    }
}

/* Mobile Phones and tablets */
@include xs-sm-screens {
    .newsletter .newsletter__title {
        font-size: 30px;
    }

    .newsletter__form .form-control {
        margin: 0 auto 30px;
    }
}