/*-----------------------
    Projects
------------------------*/
.project-item {
    position: relative;
    margin-bottom: 30px;

    .project__img {
        position: relative;

        img {
            width: 100%;
        }
    }

    .project__hover {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 30px;
    }

    .hover__content {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 30px;
        background-color: $color-white;
        overflow: hidden;
        opacity: 0;
        @include prefix(transform, translateY(30px), webkit moz ms o);
        @include prefix(transition, all .6s linear, webkit moz ms o);
    }

    .hover__content-inner {
        position: absolute;
        bottom: 30px;
    }

    &:hover {
        .hover__content {
            opacity: 1;
            @include prefix(transform, translateY(0), webkit moz ms o);
        }
    }

    .project__title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 10px;
    }

    .project__title a {
        color: $color-heading;

        &:hover {
            color: $color-theme;
        }
    }

    .project__cat {
        line-height: 1;

        a {
            position: relative;
            font-family: $font-secondary;
            font-size: 13px;
            font-style: italic;
            color: #333333;
            padding-right: 7px;

            &:hover {
                color: $color-theme;
            }

            &::after {
                content: ',';
                position: absolute;
                top: 2px;
                right: 2px;
            }

            &:last-child:after {
                display: none;
            }
        }
    }

    .project__desc {
        margin-bottom: 0;
    }

    .project__link {
        color: $color-heading;
        line-height: 1;
    }

    .zoom__icon {
        position: relative;
        display: block;
        width: 20px;
        height: 20px;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1px;
            height: 20px;
            @include prefix(transform, translate(-50%, -50%), webkit moz ms o);
            background-color: #333333;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 20px;
            height: 1px;
            @include prefix(transform, translate(-50%, -50%), webkit moz ms o);
            background-color: #333333;
        }
    }
}

.projects-gallery .project-item {
    margin-bottom: 0;
}

.projects-filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    li {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }

        a {
            font-family: $font-heading;
            color: $color-heading;
            font-size: 13px;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
            display: block;
            margin-bottom: 0;
        }

        a:hover,
        a.active {
            color: $color-theme;
        }
    }
}

/* projects Standard */
.project__info {
    padding: 30px 20px 28px;
}

.projects-standard .project-item .hover__content-inner,
.projects-gallery-link .project-item .hover__content-inner {
    top: 40%;
    left: 50%;
    bottom: auto;
    opacity: 0;
    @include prefix(transition, all 0.5s linear, webkit moz ms o);
    @include prefix(transform, translate(-50%, -50%), webkit moz ms o);

    a {
        display: block;
    }

    .dotted__line span,
    .dotted__line span:before,
    .dotted__line span:after {
        background-color: $color-heading;
    }
}

.projects-gallery-link .project-item .hover__content-inner {
    top: 30%;
}

.projects-standard .project-item:hover .hover__content-inner,
.projects-gallery-link .project-item:hover .hover__content-inner {
    opacity: 1;
    top: 50%;
}

/* project single */
.projects-single .project__single-title {
    font-size: 30px;
    font-weight: 600;
}

.projects-single .divider__line {
    margin-bottom: 21px;
}

.projects-single .project__single-desc {
    margin-bottom: 40px;

    p {
        margin-bottom: 27px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.project__meta-list {
    background-color: $color-gray;
    margin-bottom: 30px;
    padding: 30px;

    li {
        font-family: $font-heading;
        font-size: 13px;
        font-weight: 700;
        color: #9e9e9e;
        line-height: 29px;

        span {
            color: $color-heading;
            padding-right: 3px;
            margin-right: 2px;
            display: inline-block;
            position: relative;

            &:after {
                content: ':';
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}

.project__share {
    background-color: $color-gray;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;

    .project__share-title {
        font-family: $font-heading;
        font-size: 13px;
        font-weight: 700;
        color: $color-heading;
        line-height: 1;
    }

    .social__icons {
        display: inline-flex;

        a {
            line-height: 1;
            margin-right: 20px;
            color: #5d5d5d;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: $color-theme;
            }
        }
    }
}

.projects__nav {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #f5f5f5;
    padding-top: 50px;

    .projects__prev,
    .projects__next {
        position: relative;

        .projects__nav-icon {
            position: absolute;
            top: 0;
            left: 0;
        }

        &:hover h6 {
            color: $color-theme;
        }
    }

    .projects__next {
        text-align: right;

        .projects__nav-icon {
            right: 0;
            left: auto;
        }
    }

    .projects__nav-icon {
        @include prefix(transition, all .3s ease, webkit moz ms o);
        background-color: $color-gray;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #333333;

        &:hover {
            background-color: $color-theme;
            color: $color-white;
        }
    }

    .projects__nav-content {
        span {
            font-family: $font-secondary;
            font-size: 13px;
            color: #b8b8b8;
            display: block;
            margin-bottom: 3px;
        }

        h6 {
            font-size: 16px;
            font-weight: 600;
            line-height: 28px;
            margin-bottom: 0;
            @include prefix(transition, all .3s ease, webkit moz ms o);
        }
    }

    .projects__next .projects__nav-content {
        padding-right: 63px;
    }

    .projects__prev .projects__nav-content {
        padding-left: 63px;
    }


    .projects__nav-all {
        font-size: 23px;
        line-height: 50px;
        color: #616161;
        display: block;
        text-align: center;

        &:hover {
            color: $color-theme;
        }
    }
}

/* portfolio single images */
.projects-single-images .project__img img {
    margin-bottom: 30px;
}

/* portfolio single slider */
.projects-single-slider .project__img img {
    margin-bottom: 0;
}

.projects-single-slider .carousel-arrows .owl-nav .owl-prev,
.projects-single-slider .carousel-arrows .owl-nav .owl-next {
    background-color: $color-white;
    border-color: transparent;
    color: #333333;
    border-radius: 50%;

    &:hover {
        background-color: #333333;
        color: $color-white;
    }

    &:after {
        display: none;
    }
}

.projects-single-slider .carousel-arrows .owl-nav .owl-prev {
    left: 30px;

    &:before {
        content: "\f104";
    }
}

.projects-single-slider .carousel-arrows .owl-nav .owl-next {
    right: 30px;

    &:before {
        content: "\f105";
    }
}

/* projects-masonry */
.projects-masonry .project__img,
.projects-pinterest .project__img {
    margin-bottom: 30px;
}

/* custom-grid */
.custom-grid-2col {
    column-count: 2;
    column-gap: 30px;
}

.custom-grid-3col {
    column-count: 3;
    column-gap: 30px;
}

.mix {
    display: none;
}

#filtered-items-wrap .project-hidden>.project-item {
    display: none;
}

/* Mobile Phones */

@include xs-screens {

    .projects-gallery .project-item,
    .project-item {
        max-width: 400px;
        margin: 0 auto 30px;
    }

    .project__share .social__icons a {
        margin-right: 15px;
    }

    .projects-single-slider .carousel-arrows .owl-nav .owl-prev {
        left: 15px;
    }

    .projects-single-slider .carousel-arrows .owl-nav .owl-next {
        right: 15px;
    }

    .projects-filter li {
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .projects-masonry .project-item,
    .projects-masonry .project__img {
        max-width: 370px;
        margin: 0 auto 30px;

        img {
            width: 100%;
        }
    }

    .custom-grid-2col,
    .custom-grid-3col {
        column-count: 1;
    }

    .projects-pinterest .project__img {
        max-width: 370px;
        margin: 0 auto 30px;
    }
}

/* tablets */

@include sm-screens {
    .projects-grid .container {
        max-width: none;
    }
}

/* Mobile Phones and tablets */
@include xs-sm-screens {
    .projects-single .project__title {
        font-size: 24px;
    }

    .projects__nav {
        display: block;

        .projects__nav-content h6 {
            font-size: 14px;
            line-height: 24px;
        }
    }

    .custom-grid-3col {
        column-gap: 15px;

        .project__img {
            margin-bottom: 15px;
        }
    }

}

/* Medium Size Devices */
@include md-screens {
    .projects__nav .projects__nav-content h6 {
        font-size: 14px;
        line-height: 24px;
    }

    .custom-grid-3col {
        column-gap: 15px;

        .project__img {
            margin-bottom: 15px;
        }
    }
}

/* Large Size Devices */
@include lg-screens {
    .project__share .social__icons a {
        margin-right: 15px;
    }
}