/*----------------------------
      Helper Classes
----------------------------*/


.col-padding-0>.row {
    margin: 0
}

.col-padding-0,
.col-padding-0>.row>[class*="col-"] {
    padding: 0;
}

.inner-padding {
    padding: 138px 70px;
}

.lh-1 {
    line-height: 1 !important;
}

@media (min-width: 992px) {
    .col-lg-5th {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

/* Margin  */

.m-0 {
    margin: 0 !important
}

/*  margin Top */

.mt-0 {
    margin-top: 0 !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-90 {
    margin-top: 90px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

/* Margin Bottom */

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-90 {
    margin-bottom: 90px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

/* Margin Right */

.mr-0 {
    margin-right: 0 !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-40 {
    margin-right: 40px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

/* Margin Left */

.ml-0 {
    margin-left: 0 !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-40 {
    margin-left: 40px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

/*  padding  */

.p-0 {
    padding: 0 !important;
}

/* padding Top */

.pt-0 {
    padding-top: 0 !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.pt-70 {
    padding-top: 70px !important;
}

.pt-80 {
    padding-top: 80px !important;
}

.pt-90 {
    padding-top: 90px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pt-110 {
    padding-top: 110px !important;
}

.pt-120 {
    padding-top: 120px !important;
}

.pt-130 {
    padding-top: 130px !important;
}

.pt-140 {
    padding-top: 140px !important;
}

.pt-150 {
    padding-top: 150px !important;
}

/*  Padding Bottom */

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}

.pb-70 {
    padding-bottom: 70px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.pb-90 {
    padding-bottom: 90px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}

.pb-110 {
    padding-bottom: 110px !important;
}

.pb-120 {
    padding-bottom: 120px !important;
}

.pb-130 {
    padding-bottom: 130px !important;
}

.pb-140 {
    padding-bottom: 140px !important;
}

.pb-150 {
    padding-bottom: 150px !important;
}

/* padding Right */

.pr-0 {
    padding-right: 0 !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pr-30 {
    padding-right: 30px !important;
}

.pr-50 {
    padding-right: 50px !important;
}

.pr-60 {
    padding-right: 60px !important;
}

.pr-70 {
    padding-right: 70px !important;
}


.pr-100 {
    padding-right: 100px !important;
}

/* padding Left */

.pl-0 {
    padding-left: 0 !important;
}

.pl-15 {
    padding-left: 15px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pl-50 {
    padding-left: 50px !important;
}

.pl-60 {
    padding-left: 60px !important;
}

.pl-70 {
    padding-left: 70px !important;
}

.pl-100 {
    padding-left: 100px !important;
}

.vh-100 {
    height: 100vh !important;
}

.h-70 {
    height: 70px;
}

.h-100 {
    height: 100px !important;
}

.list-inline>li {
    display: inline-block;
}

.align-v {
    display: flex;
    align-items: center;
}

.align-v-h {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-secondary {
    font-family: $font-secondary;
}

/* Mobile Phones */
@media only screen and (max-width: 575px) {
    .justify-content-xs-center {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    .text-center-xs {
        text-align: center !important;
    }

    .text-left-xs {
        text-align: left !important;
    }

    .text-right-xs {
        text-align: right !important;
    }

    .pull-none-xs {
        float: none !important;
    }

    .mb-0-xs {
        margin-bottom: 0 !important;
    }

    .mb-20-xs {
        margin-bottom: 20px !important;
    }

    .mb-30-xs {
        margin-bottom: 30px !important;
    }

    .mb-50-xs {
        margin-bottom: 50px !important;
    }

    .mb-60-xs {
        margin-bottom: 60px !important;
    }
}

/* Tablets */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .text-center-sm {
        text-align: center !important;
    }

    .text-left-sm {
        text-align: left !important;
    }

    .text-right-sm {
        text-align: right !important;
    }

    .mb-0-sm {
        margin-bottom: 0 !important;
    }

    .mb-20-sm {
        margin-bottom: 20px !important;
    }

    .mb-30-sm {
        margin-bottom: 30px !important;
    }

    .mb-50-sm {
        margin-bottom: 50px !important;
    }

    .mb-60-sm {
        margin-bottom: 60px !important;
    }

    .p-0-sm {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .pb-15-sm {
        padding-bottom: 15px !important;
    }

    .pb-20-sm {
        padding-bottom: 20px !important;
    }

    .pb-30-sm {
        padding-bottom: 30px !important;
    }

    .pb-50-sm {
        padding-bottom: 50px !important;
    }

    .pb-60-sm {
        padding-bottom: 60px !important;
    }
}

/* Mobile Phones and tablets */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .text-center-xs-sm {
        text-align: center !important;
    }

    .inner-padding {
        padding: 50px 30px !important;
    }
}

/* Medium Devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .inner-padding {
        padding: 100px 50px !important;
    }
}