 /*--------------------------
      Global Styles
---------------------------*/
 html,
 body {
     overflow-x: hidden;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }

 body {
     background-color: $color-white;
     font-family: $font-body;
     font-size: $body-font-size;
     font-weight: 400;
     color: $color-body;
 }

 ::selection {
     background-color: $color-theme;
     color: $color-white;
 }

 a {
     color: $color-theme;
     @include transition(color .3s linear);

     &:hover {
         color: darken($color-theme, 20%);
         text-decoration: none;
     }
 }

 textarea {
     resize: none;
 }

 section {
     position: relative;
     padding: 110px 0;
 }

 img {
     max-width: 100%;
 }

 .wrapper-boxed {
     padding: 0 50px 50px 50px;
 }

 /* Import Droid Serif Font*/
 @font-face {
     font-family: 'Droidserif italic';
     src: url('../fonts/DroidSerif-Italic.ttf');
 }

 /*-------------------------
     RESET Default Styles
 --------------------------*/

 *,
 p,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 ul,
 ol,
 li {
     margin: 0;
     padding: 0;
 }

 *,
 :active,
 :focus {
     outline: none;
 }

 ul,
 ol {
     list-style: none;
 }

 button {
     border: none;
 }

 button,
 button:focus,
 .btn.focus,
 .btn:focus,
 .form-control,
 .form-control:focus {
     outline: none;
     background-color: transparent;
     @include prefix(box-shadow, none, webkit moz ms o);
 }

 textarea {
     resize: none
 }

 select {
     background-color: transparent;
 }

 @include xs-screens {
     .wrapper-boxed {
         padding: 0 10px 10px 10px;
     }
 }