/*---------------------
     VARIABLES
----------------------*/

$color-theme: #e6ae48;
$color-body: #9b9b9b;
$color-white: #ffffff;
$color-black: #000000;
$color-heading: #222222;
$color-dark: #282828;
$color-gray: #f9f9f9;

$font-heading: 'Montserrat',
sans-serif;
$font-body: 'Source Sans Pro',
sans-serif;
$font-secondary: 'Droidserif italic';

$body-font-size: 15px;